.contact{
  padding: 1%;
}

.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}

.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #2ad400;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}